/* @font_face import*/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root{
  --greenColor :green;
  --hover-color : lime;


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";

}
body{
  background-color: rgb(42, 42, 42);
}
img{
  transition: 1s ease;
}
img:hover{
  transform: scale(1.051);
}
section{
  padding: 20px 0px;
 column-gap: white ;
}
a {
  text-decoration: none;
}
button {
  font-size: 1.1rem;
  /* margin-left: 10px; */
  padding: 0px 25px;
  height: 50px;
  /* padding: 6px 20px; */
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  cursor: pointer;
  color: white;
  background: var(--greenColor);
  border: 2px solid transparent;
}
button:hover {
  border: 2px solid var(--hover-color);
  background: transparent;
  color: var(--hover-color);
  font-weight: bold;

}
