/* Import font form fonts.css file */
@import url(./fonts&global.css);

/* background for first two section */
.background {
  background-image: url(../img/bfv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* navbar design */
.nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  box-shadow: 0px -25px 50px 1px black;
  background: linear-gradient(180deg, #0000009e, transparent);
  backdrop-filter: blur(4px);
}

.logo {
  color: rgb(126, 126, 126);
  font-weight: bold;
  color: var(--greenColor);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
  width: 300px;
}

.logo span {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
.nav-menu .nav-item {
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  color: white;
  cursor: pointer;
  background: transparent;
  position: relative;
  margin-left: 20px;
  padding: 8px 21px;
  font-size: 1.1rem;
  transition: 0.3s ease;
}
.nav-menu a:hover {
  color: var(--hover-color);
}

.nav-item::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 0%;
  background: var(--hover-color);
  border-radius: 50px;
  transition: 0.3s ease;
  transform-origin: left;
}

.nav-menu a:hover::after {
  width: 100%;
  transform: scale(1);
}
.button-login-popup {
  margin-left: 20px;
  border: 2px solid transparent;
  background: var(--greenColor);
}

/* .active {
  background: green;
  border: 1px solid transparent;
  color: white;
} */
/* .nav-item:hover {
  border: 1px solid transparent;
  background: green;
  color: white;
} */
/* .active:hover {
  border: 2px solid var(--greenColor);
  background: transparent;
  color: var(--gree);
  font-weight: bold;
} */

/* navbar end */

/* title welcome */
.title-wlcome {
  text-align: center;
  color: white;
  z-index: 2;
  font-size: 4rem;
  padding: 0px !important;
  padding-top: 100px;
}

/* home section */
.home {
  position: relative;
  z-index: 0;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
button.button-login-popup:hover {
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
}
.home .menuHome {
  width: 50%;
}
.home .menuHome .titles {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 10px;
}
.home .menuHome span {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home .menuHome span span {
  color: var(--red-color);
}
.home .me {
  width: 50%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
}
.home .mee {
  width: 550px;
  position: relative;
  z-index: 2;
}

.bga {
  width: 300px;
  position: absolute;
  z-index: 0;
  left: 20%;
  top: 50%;
  bottom: 50%;
  margin-bottom: 50px;
}
.details {
  color: #afafaf;
  font-size: 23px;
}
.cv {
  margin: 0;
}
.cv:hover {
  color: white;
  border: 2px solid white;
}

.socialLink img {
  color: white;
  background-attachment: var(--red-color);
  width: 20px;
}
/* icon color0 */
.socialbtn a {
  color: white;
  font-size: 1.4rem;
  transition: 0.3s ease;
}

.socialbtn a i {
  padding: 8px;
  border: 1px solid;
  border-radius: 6px;
  margin-right: 5px;
  transition: 0.3s ease;
}

i.fa-brands.fa-facebook {
  color: #1773ea;
}
i.fa-brands.fa-linkedin {
  color: #0e72a3;
}
.socialbtn {
  margin-bottom: 20px;
}
i.fa-brands.fa-youtube {
  color: #f70000;
}

i.fa-brands.fa-twitter {
  color: #1c96e8;
}

i.fa-brands.fa-instagram {
  color: #e30289;
}
.socialbtn a i:hover {
  background: white;
  color: black;
}
/* ========================Abouts design */
.aboutS {
  background: var(--background-color);
  display: flex;
  padding: 160px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.aboutS .about {
  width: 55%;
}

.aboutS .sse {
  width: 500px;
  transform: rotateY(180deg);
}
.secondTitle {
  color: white;
  font-weight: bold;
}
.secondDetails {
  width: 78%;
}
.dds {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sse {
  margin-top: 100px;
}

/* ====================section servise==================== */

.title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 115px;
}
.title span {
  color: var(--red-color);
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.myServise {
  padding: 70px 100px;
}
.boxS h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.boxS h2 span {
  color: var(--greenColor);
  font-weight: bold;
}
.boxS span {
  color: rgb(180, 180, 180);
  margin-bottom: 50px;
}

.boxS {
  border: 1px solid transparent;
  width: 30%;
  transition: 0.3s ease;
  padding: 100px 30px;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.boxS:last-child {
  margin-right: 0px;
}

.boxS:hover {
  background: #4c4c4c;
  border: 1px solid var(--hover-color);
  transform: scale(1.02) translateY(-5px);
  /* transform: translateY(-6px); */
}

.menuBttn {
  top: 15px;
  width: 40px;
  transform: scaleX(-1);
  position: fixed;
  right: 3%;
  z-index: 5;
  padding: 2px;
  border-radius: 6px;
  display: none;
  cursor: pointer;
}
.menuBttn:hover {
  transform: scaleX(-1);
}

.Navactive {
  display: block !important;
}
.nav-menu {
  transition: 0.3s ease;
}

/* project filedesigne */
.project {
  background: var(--background-color);
}
.hproject-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: center;
}
.hproject-box {
  position: relative;
  display: flex;
  border-radius: 1.1rem;
  overflow: hidden;
  box-shadow: 5px 5px 38px -12px black;
  border: 2px solid transparent;
  transition: 0.2s;
}
.hproject-box:hover {
  border-color: var(--red-color);
  transform: scale(1.1);
}
.hproject-box img {
  transition: 0.3s;
  width: 100%;
}
.hproject-box:hover img {
  transform: scale(1.2);
}
.hproject-box .pbox i {
  font-size: 2rem;
  padding: 10px 20px;
  background: red;
  border-radius: 20px;
}
.hproject-box .pbox button {
  font-size: 10px;
  padding: 0 10px;
}
.hproject-box .pbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  text-align: center;
  background: linear-gradient(transparent, var(--red-color));
  transform: translateY(100%);
  transition: 0.3s;
}

.hproject-box:hover .pbox {
  transform: translateY(0%);
  border-color: var(--red-color);
}





/* contact page design */















/* ====================responsive */
@media (max-width: 640px) {
  body {
    width: 100% !important;
  }
  .nav-menu {
    position: fixed;
    display: none;
    right: 0;
    top: 60px;
    width: 40%;
    transition: 0.3s ease;
    padding: 15px;
    border-bottom-left-radius: 13px;
    background: #3e3d3dd1;
    backdrop-filter: blur(9px);
  }

  .nav-menu .nav-item {
    display: block;
    padding-right: 30px;
    padding-left: 0px;
    margin: 0px 0px 20px 1px;
    font-size: 15px;
  }

  .nav-menu .button {
    margin: 20px 0px 0px 0px;
    font-size: 10px;
  }
  .menuBttn {
    display: block;
  }
  .nav {
    padding: 05px 10px;
  }
  .home .mee {
    width: 400px;
    display: none;
  }
  .home {
    padding: 14px 10px;
    flex-direction: column;
  }
  .title-wlcome {
    font-size: 2.6rem;
    margin-bottom: 42px;
  }
  .home .menuHome {
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .aboutS {
    flex-direction: column;
    padding: 20px;
  }
  .secondDetails {
    width: 100%;
  }
  .aboutS div {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    padding: 0px 10px;
    text-align: center !important;
  }

  /* my servise responsive */
  .myServise {
    margin-top: 120px;
    padding: 10px 10px;
  }
  .myServise .boxes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .boxes .boxS {
    width: 80%;
    margin-bottom: 50px;
  }
}

/* contact page design */
form.Contacts {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.Contact-upBox {width: 90%;}

.contact-name span {
  display: block;
  position: absolute;
  top: 12px;
  left: 19px;
  color: #8c8c8c;
  pointer-events: none;
}

.contact-name input {
  padding: 10px 15px;
  outline: none;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 100%;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.contact-name textarea {
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  color: white;
  outline: none;
  padding: 17px 17px;
}

.contact-name {
  position: relative;
}

.contact-name:last-child span {
  margin-top: 25px;
}
.Contact-design {
  height: 100%;
  align-items: center;
  display: flex;
}

.Contact-downBox {
  width: 45%;
  height: 48%;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-infoTop div i {
}

.Contact-downBox div i {
  color: red;
  margin-right: 20px;
  font-size: 33px;
}

.contact-infoDown {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.contact-infoTop div {
  margin-bottom: 20px;
  align-items: center;
}












@media (max-width: 1024px) {
  .nav-menu {
    position: fixed;
    display: none;
    right: 0;
    top: 60px;
    width: 40%;
    transition: 0.3s ease;
    padding: 15px;
    border-bottom-left-radius: 13px;
    background: #3e3d3dd1;
    backdrop-filter: blur(9px);
  }

  .nav-menu .nav-item {
    display: block;
    padding-right: 30px;
    padding-left: 0px;
    margin: 0px 0px 20px 1px;
    font-size: 15px;
  }

  .nav-menu .button {
    margin: 20px 0px 0px 0px;
    font-size: 10px;
  }
}
