/* Import font form fonts.css file */
@import url(./fonts&global.css);

/* background for first two section */
.background {
  background-image: url(../img/bfv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* navbar design */
.nav {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  box-shadow: 0px -25px 50px 1px black;
  background: linear-gradient(180deg, #0000009e, transparent);
  backdrop-filter: blur(4px);
}

.logo {
  color: rgb(126, 126, 126);
  font-weight: bold;
  color: var(--greenColor);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
  width: 300px;

}

.logo span {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
.nav-menu a {
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  color: white;
  cursor: pointer;
  background: transparent;
  position: relative;
  margin-left: 20px;
  padding: 8px 21px;
  font-size: 1.1rem;
  transition: 0.3s ease;
}
.nav-menu a:hover {
  color: var(--hover-color);
}

.nav-item::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 0%;
  background: var(--hover-color);
  border-radius: 50px;
  transition: 0.3s ease;
  transform-origin: left;
}

.nav-menu a:hover::after {
  width: 100%;
  transform: scale(1);
}
.button-login-popup {
  margin-left: 20px;
  border: 2px solid transparent;
  background: var(--greenColor);
}

/* .active {
  background: green;
  border: 1px solid transparent;
  color: white;
} */
/* .nav-item:hover {
  border: 1px solid transparent;
  background: green;
  color: white;
} */
.active:hover {
  border: 1px solid var(--greenColor);
  background: transparent;
  color: var(--gree
  );
  font-weight: bold;
}

/* navbar end */

/* title welcome */
.title-wlcome {
  text-align: center;
  color: white;
  z-index: 2;
  font-size: 4rem;
  padding-top: 100px;
}

/* home section */
.home {
  position: relative;
  z-index: 0;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
button.button-login-popup:hover {
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
}
.home .menuHome {
  width: 50%;
}
.home .menuHome .title {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 10px;
}
.home .menuHome span {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home .menuHome span span {
  color: red;
}
.home .me {
  width: 50%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
}
.home .mee {
  width: 550px;
  position: relative;
  z-index: 2;
}
.bga {
  width: 300px;
  position: absolute;
  z-index: 0;
  left: 20%;
  top: 50%;
  bottom: 50%;
  margin-bottom: 50px;
}
.details {
  color: #afafaf;
  font-size: 23px;
}
.cv {
  margin: 0;
}
.cv:hover {
  color: white;
  border: 1px solid white;
}

.socialLink img {
  color: white;
  background-attachment: red;
  width: 20px;
}
/* icon color0 */
.socialbtn a {
  color: white;
  font-size: 1.4rem;
  transition: 0.3s ease;
}

.socialbtn a i {
  padding: 8px;
  border: 1px solid;
  border-radius: 6px;
  margin-right: 5px;
  transition: 0.3s ease;
}

i.fa-brands.fa-facebook {
  color: #1773ea;
}
i.fa-brands.fa-linkedin {
  color: #0e72a3;
}
.socialbtn {
  margin-bottom: 20px;
}
i.fa-brands.fa-youtube {
  color: #f70000;
}

i.fa-brands.fa-twitter {
  color: #1c96e8;
}

i.fa-brands.fa-instagram {
  color: #e30289;
}
.socialbtn a i:hover {
  background: white;
  color: black;
}
@media (max-width: 1150px) {
}
/* ========================Abouts design */
.aboutS {
  backgroundimage: url(/img/bubble.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 160px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.aboutS .about{
  width: 55%;
}

.aboutS .sse {
  width: 500px;
}
.secondTitle{
  color: white;
  font-weight: bold;
}
.secondDetails{
  width: 78%;
}
.dds {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sse {
  margin-top: 100px;
}
.dd {
  height: 1000px;
  color: red;
}



/* ===========================================================================================================================================================================================================section servise==================== */

.servisTi{
  text-align: center;
  font-size: 4rem;
  margin-bottom: 80px;
}
.servisTi span{
  color: red;
}

.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.myServise{
  padding: 0px 100px;
}
.boxS h2{
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.boxS h2 span{
  color: var(--greenColor);
  font-weight: bold;
  
}
.boxS span{
  color: rgb(180, 180, 180);
  margin-bottom: 50px;
}

.boxS{
  border: 1px solid transparent;
  width: 30%;
  transition: .3s ease;
  padding: 100px 30px;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.boxS:last-child{
  margin-right: 0px; 
}

.boxS:hover {
  background: #4c4c4c;
  border: 1px solid var(--hover-color);
  transform: scale(1.02)  translateY(-5px);
  /* transform: translateY(-6px); */
}